body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #2734acd6;
    color: #fff;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #ffffff39;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #33333300;
    color: #000000;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 220px; /* Adjust margin to make space for sidebar */
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search-bar input, .search-bar select {
    padding: 10px;
    width: 300px;
    text-align: center;
}

.search-bar select {
    width: 320px; /* Slightly wider for dropdown */
}

.table-container {
    width: 100%;
    max-width: 800px;
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
}

#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#dataTable th {
    background-color: #f2f2f2;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
